In [ ]:
import pandas as pd # type: ignore
from sqlalchemy import create_engine,text # type: ignore

file_path = './netflix_titles.csv'
df = pd.read_csv(file_path)
print("Successfully loaded data into pandas DataFrame.")
print(df.head(5))

In [ ]:
db= "Netflix_DataSet"   # your target DB
# SQLAlchemy engine with PyMySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS Netflix_DataSet")
print("Database ensured.")
cursor.close()
conn.close()
# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://root:1234@localhost/{db}")

In [ ]:
# Load DataFrame to SQL table
table_name = "netflix_titles"
df.to_sql(table_name, con=engine, if_exists='replace', index=False)
print(f"Data loaded into table '{table_name}' in database '{db}'.")

In [ ]:
# Query the table and display results
query = text("SELECT count(*) FROM netflix_titles")  # wrap query with text()
with engine.connect() as connection:
    result_df = pd.read_sql(query, con=connection)
print(result_df.head())  # Display the first few rows

print(df[df.show_id == "s5023"])  # Example query to filter DataFrame

In [ ]:
max(df.cast.dropna().str.len())  # Get the maximum show_id

In [ ]:
# Calculate max string length for each object (string) column
max_lengths = {}
for col in df.select_dtypes(include='object').columns:
    max_len = df[col].dropna().str.len().max()
    max_lengths[col] = int(max_len) if not pd.isnull(max_len) else 1
print(max_lengths)

In [ ]:
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE IF EXISTS {table_name}"))
    print(f"Table '{table_name}' dropped.")

In [ ]:
# Build CREATE TABLE statement
columns_sql = []
for col in df.columns:
    if col in max_lengths:
        if col == "show_id":
            columns_sql.append(f"`{col}` NVARCHAR({max_lengths[col]}) PRIMARY KEY")
        else:
            columns_sql.append(f"`{col}` NVARCHAR({max_lengths[col]})")
    else:
        columns_sql.append(f"`{col}` FLOAT")
columns_sql_str = ", ".join(columns_sql)
create_table_sql = f"CREATE TABLE `{table_name}` ({columns_sql_str})"

with engine.connect() as connection:
    connection.execute(text(create_table_sql))
    print(f"Table '{table_name}' created with NVARCHAR columns and 'show_id' as PRIMARY KEY.")

In [ ]:
df.to_sql(table_name, con=engine, if_exists='append', index=False)
print(f"Data loaded into table '{table_name}' in database '{db}'.")

In [ ]:
with engine.connect() as connection:
    sample=connection.execute(text(f"SELECT UPPER(TITLE),TYPE FROM {table_name} GROUP BY UPPER(TITLE),TYPE HAVING COUNT(*) > 1"))
    print("Duplicate titles found in the table.")
    print(sample.fetchall())  # Display the duplicate titles

In [ ]:
with engine.connect() as connection:
    cte_query = f"""
        WITH cte AS (
            SELECT *, ROW_NUMBER() OVER(PARTITION BY title, type ORDER BY show_id) AS rn
            FROM {table_name}
        )
        SELECT * FROM cte WHERE rn=1
    """
    cte_result = pd.read_sql(text(cte_query), con=connection)
print(f"Total rows in CTE result: {cte_result.shape[0]}")
print(cte_result.head())  # Display the first few rows

In [ ]:
# 1. Prepare the DataFrame for directors
directors = []
for idx, row in df[['show_id', 'director']].dropna().iterrows():
    for director in str(row['director']).split(','):
        directors.append({'show_id': row['show_id'], 'director': director.strip()})

directors_df = pd.DataFrame(directors)

# 2. Create the new table in MySQL
with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS netflix_director"))
    create_sql = """
        CREATE TABLE netflix_director (
            show_id NVARCHAR(20),
            director NVARCHAR(100)
        )
    """
    connection.execute(text(create_sql))
    print("Table 'netflix_director' created.")
   
# 3. Load the data into the new table
directors_df.to_sql('netflix_director', con=engine, if_exists='append', index=False)
print("Directors loaded into 'netflix_director' table.")

with engine.connect() as connection:
    show_table_details="""
            select *
            from netflix_director
    """
    director_details=connection.execute(text(show_table_details))
    print("Table 'netflix_director' structure displayed.")
    print(director_details.fetchall())  # Display the structure of the new table

In [ ]:
# 1. Prepare the DataFrame for cast
casts = []
for idx, row in df[['show_id', 'cast']].dropna().iterrows():
    for cast_member in str(row['cast']).split(','):
        casts.append({'show_id': row['show_id'], 'cast': cast_member.strip()})
casts_df = pd.DataFrame(casts)

with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS netflix_cast"))
    create_sql = """
        CREATE TABLE netflix_cast (
            show_id NVARCHAR(20),
            cast NVARCHAR(200)
        )
    """
    connection.execute(text(create_sql))
    print("Table 'netflix_cast' created.")

casts_df.to_sql('netflix_cast', con=engine, if_exists='append', index=False)
print("Cast loaded into 'netflix_cast' table.")

# 2. Prepare the DataFrame for country
countries = []
for idx, row in df[['show_id', 'country']].dropna().iterrows():
    for country in str(row['country']).split(','):
        countries.append({'show_id': row['show_id'], 'country': country.strip()})
countries_df = pd.DataFrame(countries)

with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS netflix_country"))
    create_sql = """
        CREATE TABLE netflix_country (
            show_id NVARCHAR(20),
            country NVARCHAR(100)
        )
    """
    connection.execute(text(create_sql))
    print("Table 'netflix_country' created.")

countries_df.to_sql('netflix_country', con=engine, if_exists='append', index=False)
print("Countries loaded into 'netflix_country' table.")

# 3. Prepare the DataFrame for listed_in
listed_in = []
for idx, row in df[['show_id', 'listed_in']].dropna().iterrows():
    for genre in str(row['listed_in']).split(','):
        listed_in.append({'show_id': row['show_id'], 'listed_in': genre.strip()})
listed_in_df = pd.DataFrame(listed_in)

with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS netflix_listed_in"))
    create_sql = """
        CREATE TABLE netflix_listed_in (
            show_id NVARCHAR(20),
            listed_in NVARCHAR(100)
        )
    """
    connection.execute(text(create_sql))
    print("Table 'netflix_listed_in' created.")

listed_in_df.to_sql('netflix_listed_in', con=engine, if_exists='append', index=False)
print("Genres loaded into 'netflix_listed_in' table.")

In [ ]:
# Print contents of netflix_cast
with engine.connect() as connection:
    cast_df = pd.read_sql(text("SELECT * FROM netflix_cast LIMIT 5"), con=connection)
print("Sample rows from 'netflix_cast':")
print(cast_df)

# Print contents of netflix_country
with engine.connect() as connection:
    country_df = pd.read_sql(text("SELECT * FROM netflix_country LIMIT 5"), con=connection)
print("Sample rows from 'netflix_country':")
print(country_df)

# Print contents of netflix_listed_in
with engine.connect() as connection:
    listed_in_df = pd.read_sql(text("SELECT * FROM netflix_listed_in LIMIT 10"), con=connection)
print("Sample rows from 'netflix_listed_in':")
print(listed_in_df)

In [ ]:
with engine.connect() as connection:
    tables_df = pd.read_sql(text("SHOW TABLES"), con=connection)
print("Tables in the database:")
print(tables_df)

In [ ]:
# Drop columns from DataFrame
df = df.drop(columns=['director', 'cast', 'country', 'listed_in'])

# Convert date_added to YYYY-MM-DD format
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce').dt.date

# Overwrite the table with the corrected DataFrame
df.to_sql(table_name, con=engine, if_exists='replace', index=False)
print("Reloaded table with only required columns and corrected date format.")

# Now print the final table
with engine.connect() as connection:
    final_df = pd.read_sql(text("SELECT * FROM netflix_titles LIMIT 5"), con=connection)
print("Sample rows from final 'netflix_titles':")
print(final_df)

In [ ]:
# check missing values
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values[missing_values > 0])

In [ ]:
with engine.connect() as connection:
    null_directors = pd.read_sql(
        text("SELECT * FROM netflix_director WHERE director='Ahishor Solomon'"),
        con=connection
    )
print("Rows with NULL director in 'netflix_director':")
print(null_directors)

In [ ]:
# Step 1: Build a mapping of director -> known country (excluding NULL/empty)
with engine.connect() as connection:
    # Get all director-country pairs where country is not null/empty
    director_country_df = pd.read_sql(
        text("""
            SELECT d.director, c.country
            FROM netflix_director d
            JOIN netflix_country c ON d.show_id = c.show_id
            WHERE c.country IS NOT NULL AND c.country != ''
        """),
        con=connection
    )
    # Build mapping: director -> first known country
    director_to_country = director_country_df.drop_duplicates('director').set_index('director')['country'].to_dict()

# Step 2: Update all rows in netflix_country where country is NULL/empty for those directors
with engine.connect() as connection:
    # Get all (show_id, director) pairs with missing country
    missing_country_df = pd.read_sql(
        text("""
            SELECT d.show_id, d.director
            FROM netflix_director d
            LEFT JOIN netflix_country c ON d.show_id = c.show_id
            WHERE c.country IS NULL OR c.country = ''
        """),
        con=connection
    )
    # For each, update the country if we have a known value for that director
    for idx, row in missing_country_df.iterrows():
        director = row['director']
        show_id = row['show_id']
        if director in director_to_country:
            connection.execute(
                text("UPDATE netflix_country SET country = :country WHERE show_id = :show_id"),
                {"country": director_to_country[director], "show_id": show_id}
            )

In [ ]:
# Print all table names
with engine.connect() as connection:
    tables_df = pd.read_sql(text("SHOW TABLES"), con=connection)
tables = tables_df.iloc[:, 0].tolist()
print("Tables in the database:")
print(tables)

# Print column names for each table
for table in tables:
    with engine.connect() as connection:
        columns_df = pd.read_sql(text(f"SHOW COLUMNS FROM {table}"), con=connection)
    print(f"\nColumns in '{table}':")
    print(columns_df['Field'].tolist())

In [ ]:
# Step 1: Build mapping of director -> known country (excluding NULL/empty/'NONE')
with engine.connect() as connection:
    director_country_df = pd.read_sql(
        text("""
            SELECT d.director, c.country
            FROM netflix_director d
            JOIN netflix_country c ON d.show_id = c.show_id
            WHERE c.country IS NOT NULL AND c.country != '' AND c.country != 'NONE'
        """),
        con=connection
    )
    director_to_country = director_country_df.drop_duplicates('director').set_index('director')['country'].to_dict()

# Step 2: Update all rows in netflix_country where country is NULL/empty/'NONE' for those directors
with engine.connect() as connection:
    missing_country_df = pd.read_sql(
        text("""
            SELECT d.show_id, d.director
            FROM netflix_director d
            LEFT JOIN netflix_country c ON d.show_id = c.show_id
            WHERE c.country IS NULL OR c.country = '' OR c.country = 'NONE'
        """),
        con=connection
    )
    for idx, row in missing_country_df.iterrows():
        director = row['director']
        show_id = row['show_id']
        if director in director_to_country:
            print(f"Updating show_id {show_id} for director {director} to country {director_to_country[director]}")
            connection.execute(
                text("UPDATE netflix_country SET country = :country WHERE show_id = :show_id"),
                {"country": director_to_country[director], "show_id": show_id}
            )

# Now check if any 'NONE' values remain
with engine.connect() as connection:
    query = """
        SELECT c.show_id, c.country
        FROM netflix_country c WHERE country = 'NONE'
    """
    country = pd.read_sql(text(query), con=connection)
print(country)

In [ ]:
with engine.connect() as connection:
    query = """
        SELECT director,country
        FROM netflix_country nc 
        inner join netflix_director nd on nc.show_id = nd.show_id
        group by director,country
        order by director
        limit 20
    """
    combo = pd.read_sql(text(query), con=connection)
print(combo)

In [ ]:
with engine.connect() as connection:
    query = """
        SELECT show_id,case when duration is null then rating else duration end as duration from netflix_titles where duration is null
    """
    query2= """
        SELECT show_id,duration from netflix_titles
    """
    duration = pd.read_sql(text(query), con=connection)
    duration2 = pd.read_sql(text(query2), con=connection)
print(duration)
print(duration2)

In [ ]:
with engine.connect() as connection:
    # Drop the staging table if it already exists
    connection.execute(text("DROP TABLE IF EXISTS netflix_staging"))
    # Create the new staging table with all current data from netflix_titles
    connection.execute(text("""
        CREATE TABLE netflix_staging AS
        SELECT * FROM netflix_titles
    """))
    print("Staging table 'netflix_staging' created with current data from 'netflix_titles'.")

In [ ]:
# 1. For each director, count the number of movies and TV shows created by them in separate columns (only those who have both)
with engine.connect() as connection:
    query = """
        SELECT nd.director,
            COUNT(DISTINCT CASE WHEN n.type = 'Movie' THEN n.show_id END) AS no_of_movies,
            COUNT(DISTINCT CASE WHEN n.type = 'TV Show' THEN n.show_id END) AS no_of_tvshows
        FROM netflix_staging n
        INNER JOIN netflix_director nd ON n.show_id = nd.show_id
        GROUP BY nd.director
        HAVING COUNT(DISTINCT n.type) > 1
        order by no_of_tvshows desc
    """
    result = pd.read_sql(text(query), con=connection)
print(result)

In [ ]:
# 2. Which country has the highest number of comedy movies?
with engine.connect() as connection:
    query = """
        SELECT nc.country, COUNT(DISTINCT n.show_id) AS no_of_movies
        FROM netflix_staging n
        INNER JOIN netflix_country nc ON n.show_id = nc.show_id
        INNER JOIN netflix_listed_in nl ON n.show_id = nl.show_id
        WHERE nl.listed_in = 'Comedies' AND n.type = 'Movie'
        GROUP BY nc.country
        ORDER BY no_of_movies DESC
        LIMIT 1
    """
    result = pd.read_sql(text(query), con=connection)
print(result)

In [ ]:
# 3. For each year (by date added), which director has the maximum number of movies released?
with engine.connect() as connection:
    query = """
        WITH cte AS (
            SELECT nd.director, YEAR(n.date_added) AS date_year, COUNT(n.show_id) AS no_of_movies
            FROM netflix_staging n
            INNER JOIN netflix_director nd ON n.show_id = nd.show_id
            WHERE n.type = 'Movie'
            GROUP BY nd.director, YEAR(n.date_added)
        ),
        cte2 AS (
            SELECT *,
                ROW_NUMBER() OVER (PARTITION BY date_year ORDER BY no_of_movies DESC, director) AS rn
            FROM cte
        )
        SELECT director, date_year, no_of_movies
        FROM cte2
        WHERE rn = 1
    """
    result = pd.read_sql(text(query), con=connection)
print(result)

In [ ]:
# 4. What is the average duration of movies in each genre?
with engine.connect() as connection:
    query = """
        SELECT nl.listed_in AS genre,
            AVG(CAST(REPLACE(n.duration, ' min', '') AS SIGNED)) AS avg_duration
        FROM netflix_staging n
        INNER JOIN netflix_listed_in nl ON n.show_id = nl.show_id
        WHERE n.type = 'Movie'
        GROUP BY nl.listed_in
    """
    result = pd.read_sql(text(query), con=connection)
print(result)

In [ ]:
# 5. Find the list of directors who have created both horror and comedy movies.
with engine.connect() as connection:
    query = """
        SELECT nd.director,
            COUNT(DISTINCT CASE WHEN nl.listed_in = 'Comedies' THEN n.show_id END) AS no_of_comedy,
            COUNT(DISTINCT CASE WHEN nl.listed_in = 'Horror Movies' THEN n.show_id END) AS no_of_horror
        FROM netflix_staging n
        INNER JOIN netflix_listed_in nl ON n.show_id = nl.show_id
        INNER JOIN netflix_director nd ON n.show_id = nd.show_id
        WHERE n.type = 'Movie' AND nl.listed_in IN ('Comedies', 'Horror Movies')
        GROUP BY nd.director
        HAVING COUNT(DISTINCT nl.listed_in) = 2
    """
    result = pd.read_sql(text(query), con=connection)
print(result)